

# Webhooks

adh-webhook/logs
adh-webhook/.env
adh-webhook/bin

# Dashboard

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
adh-dashboard/node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
adh-dashboard/coverage

# next.js
adh-dashboard/.next/
adh-dashboard/out/

# production
adh-dashboard/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

adh-dashboard/bun.lock
